/*------------------------------------------------------------------
[Stylesheet]
Color Scheme - Light
-------------------------------------------------------------------*/

.mdl-color-text--color-1 {
    color: white;
}

.mdl-color-text--color-2 {
    color: black;
}

.mdl-color-text--color-3 {
    color: black;
}

.mdl-color--color-1 {
    background: white;
}

.mdl-color--color-2 {
    background: #fafafa;
}

.mdl-color--color-3 {
    background: #f5f5f5;
}

.mdl-color--color-4 {
    background: #e0e0e0;
}

.nivo-lightbox-theme-default.nivo-lightbox-overlay {
    background-color: #fafafa;
}

.nivo-lightbox-theme-default .nivo-lightbox-close,
.nivo-lightbox-theme-default .nivo-lightbox-nav {
    color: black
}

.mdl-tabs__tab-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mdl-textfield__input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mdl-textfield.is-disabled .mdl-textfield__input {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.12);
}

.mdl-textfield__label {
    color: rgba(0, 0, 0, 0.26);
}



