#help {
    position: relative;
    padding-bottom: 4rem;
}

#help:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 56rem;
    background-color: #709ff4;
    content: '';
}

#help > .container {
    position: relative;
    z-index: 1;
}

#help .frame {
    position: relative;
    z-index: 10;
    margin-top: 8rem;
    margin-bottom: 1rem;
    padding: 1rem 4rem;
    padding-bottom: 2rem;
    background-color: white;
    box-shadow: 0 2px 10px #ebebeb;
}

#help .frame.answers {
    margin-top: 4rem;
}

#help .frame {

}

#help h1 {
    font-size: 2.2rem;
}

#help h2 {
    font-size: 1.8rem;
}

#help h3 {
    font-size: 1.6rem;
}

#help h4 {
    font-size: 1.4rem;
}

#help h5 {
    font-size: 1.2rem;
}

#help h2,
#help h3,
#help h4,
#help h5,
#help h6 {
    margin-bottom: 0.3rem;
    line-height: 1.1;
}

#help .question-sections {
    margin-top: 8rem;
    padding-left: 1rem;
}

#help .question-sections h2 {
    color: white;
}

#help .question-sections ul li {
    padding: 0.3rem 0;
    padding-left: 0;
}

#help .question-sections ul li a {
    color: white;
}