/*------------------------------------------------------------------
[Stylesheet]
JAMES Framework - Reset & Typography
-------------------------------------------------------------------*/

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */
body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
    display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
    font-size: 1em;
    font-family: monospace, monospace;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
    margin: 0;
    /* 1 */
    color: inherit;
    /* 2 */
    font: inherit;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    /* 2 */
    -webkit-appearance: button;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-box-sizing: content-box;
    /* 1 */
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* 2 */
    -webkit-appearance: textfield;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    padding: 0;
    /* 1 */
    border: 0;
    /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* Typography
   ========================================================================== */

html, body {
    font-weight: 400;
    font-size: 14px;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.53rem;
    -webkit-font-smoothing: antialiased !important;
}

@media (max-width: 479px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 17px;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/**
  * Styles for HTML elements
  */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    letter-spacing: -0.02rem;
    font-weight: 400;
    font-size: 4rem;
    font-size: 0.6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.35;
    opacity: 0.54;
}

h1 {
    margin-top: 1.71rem;
    margin-bottom: 1.71rem;
    letter-spacing: -0.02rem;
    font-weight: 400;
    font-size: 4rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.35;
    opacity: 0.54
}

h2 {
    margin-top: 1.71rem;
    margin-bottom: 1.71rem;
    letter-spacing: -0.08rem;
    font-weight: 300;
    font-size: 3.21rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 3.53rem;
    opacity: 0.8;
}

h3 {
    margin-top: 1.71rem;
    margin-bottom: 1.71rem;
    letter-spacing: -0.02rem;
    font-weight: 400;
    font-size: 2.43rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 2.86rem;
    opacity: 0.8;
}

h4 {
    margin-top: 1.71rem;
    margin-bottom: 1.14rem;
    font-weight: 400;
    font-size: 1.71rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 2.36rem;
    opacity: 0.8;
    -moz-osx-font-smoothing: grayscale;
}

h5 {
    margin-top: 1.71rem;
    margin-bottom: 1.14rem;
    letter-spacing: 0.02rem;
    font-weight: 500;
    font-size: 1.43rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.86rem;
    opacity: 0.8;
}

h6 {
    margin-top: 1.71rem;
    margin-bottom: 1.14rem;
    letter-spacing: 0.02rem;
    font-weight: 400;
    font-size: 1.14rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.71rem;
    opacity: 0.8;
}

p {
    margin-bottom: 1.14rem;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.71rem;
    opacity: 0.8;
}

a {
    text-decoration: none;
    font-weight: 500;

}

blockquote {
    position: relative;
    letter-spacing: normal;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
    font-family: "Roboto Slab", serif;
    line-height: 1.35;
}

blockquote:before {
    position: absolute;
    left: -0.5em;
    content: '';
}

blockquote:after {
    margin-left: -0.05em;
    content: '';
}

mark {
    background-color: #f4ff81;
}

dt {
    font-weight: 700;
}

address {
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1;
}

ul, ol {
    letter-spacing: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}