/*------------------------------------------------------------------
[Master Stylesheet]

Project:	    M D L P 2
Version:	    1.0
Last change:	12/08/2015
Author:         Mat Przegietka 
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Helper Classes
2. Preloader
3. Content Animation
4. Navigation
5. Homepage Content
6. Tabs
7. Icons
8. Lists
9. Video section
10. Pricing Boxes
11. Reviews
12. Contact
13. Footer
14. Material Design Lite tweeks

-------------------------------------------------------------------*/

/*--------------------------------------*/
/* 1. Helper Classes -------------------*/
/*--------------------------------------*/

.align-center {
    text-align: center
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.float-left {
    float: left
}

.img_responsive {
    max-width: 100%
}

.img-circle {
    border-radius: 50%
}

.img-rounded_corner {
    border-radius: 0.2rem
}

.margin-top-5 {
    margin-top: 5rem;
}

.margin-bottom-5 {
    margin-bottom: 5rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.padding-top-5 {
    padding-top: 5rem;
}

.padding-bottom-5 {
    padding-bottom: 5rem;
}

.padding-top-2 {
    padding-top: 2rem;
}

.padding-bottom-2 {
    padding-bottom: 2rem;
}

.subsection {
    position: relative;
    z-index: 100;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*--------------------------------------*/
/* 2. Preloader ------------------------*/
/*--------------------------------------*/

body {
    overflow: hidden;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2302; /* change if the mask should have another color then white */
    background-color: #fff; /* makes sure it stays on top */
}

#status {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    width: 200px; /* centers the loading animation horizontally one the screen */
    height: 200px; /* centers the loading animation vertically one the screen */
    text-align: center; /* is width and height divided by two */
}

.mdl-spinner {
    width: 200px;
    height: 200px;
}

/*--------------------------------------*/
/* 3. Content Animation ----------------*/
/*--------------------------------------*/

.home_anim1,
.home_anim2,
.home_anim3,
.home_anim4,
.home_anim5,
.home_anim6,
.home_anim7,
.home_anim8,
.home_anim9,
.home_anim10,
.more_info_anim1,
.more_info_anim2,
.more_info_anim3,
.more_info_anim4,
.more_info_anim5,
.more_info_anim6,
.more_info_anim7,
.more_info_anim8,
.more_info_anim9,
.more_info_anim10,
.features_anim1,
.features_anim2,
.features_anim3,
.features_anim4,
.features_anim5,
.features_anim6,
.features_anim7,
.features_anim8,
.features_anim9,
.features_anim10,
.screenshots_anim1,
.screenshots_anim2,
.screenshots_anim3,
.screenshots_anim4,
.screenshots_anim5,
.screenshots_anim6,
.screenshots_anim7,
.screenshots_anim8,
.screenshots_anim9,
.screenshots_anim10,
.pricing_anim1,
.pricing_anim2,
.pricing_anim3,
.pricing_anim4,
.pricing_anim5,
.pricing_anim6,
.pricing_anim7,
.pricing_anim8,
.pricing_anim9,
.pricing_anim10,
.testimonials_anim1,
.testimonials_anim2,
.testimonials_anim3,
.testimonials_anim4,
.testimonials_anim5,
.testimonials_anim6,
.testimonials_anim7,
.testimonials_anim8,
.testimonials_anim9,
.testimonials_anim10 {
    opacity: 0
}

/*--------------------------------------*/
/* 4. Navigation -----------------------*/
/*--------------------------------------*/

/*-- desktop navigation --*/

.navigation_desktop ul:not(.mdl-menu) {
    float: right;
    margin: 0;
    padding: 0;
    line-height: 4rem;
}

.navigation_desktop ul li:not(.mdl-menu__item) {
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
    padding: 0;
    height: auto;
}

.navigation_desktop ul li:last-child {
    margin-right: 0;
}

.navigation_desktop ul li a:not(.mdl-menu_a) {
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.71rem;
    opacity: 0.8;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navigation_desktop a:not(.mdl-menu_a):hover {
    opacity: 1;
}

.navigation_desktop li a:focus, .navigation_desktop a:hover {
    outline: none;
    text-decoration: none;
}

/*-- menu_bar --*/

.menu_bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 4rem;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateY(-105%);
    -moz-transform: translateY(-105%);
    -ms-transform: translateY(-105%);
    transform: translateY(-105%);
}

.menu_bar-hide {
    height: 4rem;
    -webkit-transform: translateY(-105%);
    -moz-transform: translateY(-105%);
    -ms-transform: translateY(-105%);
    transform: translateY(-105%);

}

.menu_bar-show {
    height: 4rem;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.menu_bar .navigation_desktop ul {
    margin: 0;
}

.mobile_open_button {

}

.logo {
    float: left;
    margin-top: 1rem;
    line-height: 0;
}

/*-- Mobile Menu --*/

.cbp-spmenu {
    position: fixed;
    padding-top: 0rem;
    padding-left: 0rem;
    background-color: white;

    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.cbp-spmenu-vertical {
    top: 0;
    z-index: 1001;
    width: 250px;
    height: 100%;
}

.cbp-spmenu-right {
    right: -255px;
    -webkit-animation: animation_back 1000ms linear both;
    animation: animation_back 1000ms linear both;
}

#mobile_menu_content {
    float: left;
}

#mobile_menu_content ul li a {
    display: block;
    padding: 0 2rem;
    width: 250px;
    height: 3.2rem;
    color: black;
    font-size: 1.2rem;
    line-height: 3.2rem;
}

#mobile_menu_content ul li a:hover {
    background-color: rgb(238, 238, 238)
}

#mobile_menu_content ul li {
    display: block;
    width: 250px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    -webkit-animation: animation 1000ms linear both;
    animation: animation 1000ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/6EqiXS */

@-webkit-keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.3% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -102.854, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -102.854, 0, 0, 1);
    }
    8.61% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -175.717, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -175.717, 0, 0, 1);
    }
    12.91% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -210.455, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -210.455, 0, 0, 1);
    }
    17.22% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -218.667, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -218.667, 0, 0, 1);
    }
    28.33% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -204.125, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -204.125, 0, 0, 1);
    }
    39.44% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -198.754, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -198.754, 0, 0, 1);
    }
    61.66% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200.083, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200.083, 0, 0, 1);
    }
    83.98% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -199.994, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -199.994, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200, 0, 0, 1);
    }
}

@keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.3% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -102.854, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -102.854, 0, 0, 1);
    }
    8.61% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -175.717, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -175.717, 0, 0, 1);
    }
    12.91% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -210.455, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -210.455, 0, 0, 1);
    }
    17.22% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -218.667, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -218.667, 0, 0, 1);
    }
    28.33% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -204.125, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -204.125, 0, 0, 1);
    }
    39.44% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -198.754, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -198.754, 0, 0, 1);
    }
    61.66% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200.083, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200.083, 0, 0, 1);
    }
    83.98% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -199.994, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -199.994, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200, 0, 0, 1);
    }
}

/* Generated with Bounce.js. Edit at http://goo.gl/Y6j3eR */

@-webkit-keyframes animation_back {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200, 0, 0, 1);
    }
    4.3% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -97.146, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -97.146, 0, 0, 1);
    }
    8.61% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -24.283, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -24.283, 0, 0, 1);
    }
    12.91% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.455, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.455, 0, 0, 1);
    }
    17.22% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.667, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.667, 0, 0, 1);
    }
    28.33% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.125, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.125, 0, 0, 1);
    }
    39.44% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.246, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.246, 0, 0, 1);
    }
    61.66% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.083, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.083, 0, 0, 1);
    }
    83.98% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.006, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.006, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@keyframes animation_back {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200, 0, 0, 1);
    }
    4.3% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -97.146, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -97.146, 0, 0, 1);
    }
    8.61% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -24.283, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -24.283, 0, 0, 1);
    }
    12.91% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.455, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.455, 0, 0, 1);
    }
    17.22% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.667, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.667, 0, 0, 1);
    }
    28.33% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.125, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.125, 0, 0, 1);
    }
    39.44% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.246, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.246, 0, 0, 1);
    }
    61.66% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.083, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.083, 0, 0, 1);
    }
    83.98% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.006, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.006, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

/*-- Mobile Menu open & close buttons --*/

#mobile_menu_content {
    clear: both;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mdl-menu__container {
    margin-top: 0.5rem;
}

.mdl-menu__item {
    padding: 0 1.14rem;
    height: 2rem;
    font-size: 0.8rem;
    line-height: 2rem;
}

.mdl-menu__item a {
    color: black
}

.menu_button {
    position: relative;
    float: right;
    margin-top: -0.05rem;
}

/*--------------------------------------*/
/* 5. Homepage Content -----------------*/
/*--------------------------------------*/

.top_bar {
    position: relative;
    z-index: 2000;
    margin-bottom: 5rem;
}

html {
    overflow-x: hidden;
}

.logo_home {
    float: left;
    margin-bottom: 7rem;
}

.hero_fullscreen {
    padding-top: 2rem;
    padding-bottom: 0;
}

.home_content {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.home_content button {
    margin-top: 1rem;
}

/*-- homepage images --*/

.dummy {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding: 0;
}

.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

/*--------------------------------------*/
/* 6. Tabs -----------------------------*/
/*--------------------------------------*/

.mdl-tabs__tab-bar {
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 3.43rem;
}

.mdl-tabs__tab {
    padding: 0 1.71rem 0 1.71rem;
    height: 3.43rem;
    font-size: 1rem;
    line-height: 3.43rem
}

.mdl-tabs__tab span {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.mdl-tabs__tab i {
    display: inline-block;
    padding-bottom: 0.2rem;
    vertical-align: middle;
    font-size: 1.5rem;
}

/*--------------------------------------*/
/* 7. Icons ----------------------------*/
/*--------------------------------------*/

.material-icons-big {
    font-size: 3rem;
}

/*--------------------------------------*/
/* 8. Lists ----------------------------*/
/*--------------------------------------*/

.ulist {
    padding-bottom: 0.3rem;
}

.ulist li {
    position: relative;
    margin-top: 1.71rem;
    margin-bottom: 0.5rem;
    margin-bottom: 1.14rem;
    letter-spacing: 0.02rem;
    font-weight: 400;
    font-size: 1.14rem;
    line-height: 1.71rem;
    opacity: 0.8

}

.ulist li span {
    display: inline-block;
    overflow: hidden;
    margin-left: 4rem;
}

.list-icons i {
    position: absolute;
    top: 0.1rem;
    left: 0;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 0;
    vertical-align: middle;
}

/*--------------------------------------*/
/* 9. Video section --------------------*/
/*--------------------------------------*/

.video_headline h3, .video_headline a {
    display: inline-block;
    vertical-align: middle;
}

.video_headline a {
    margin-right: 2rem;
    margin-left: 2rem;
}

#video {
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: url(../images/video_bg.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

video, object {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

iframe {
    border: none;
}

#video_modal_box,
#video_modal_box_two {
    display: none;
}

.hidden,
.video_hidden {
    display: none;
}

/*-----------------------------------------*/
/* 10. Pricing Boxes ----------------------*/
/*-----------------------------------------*/

.pricing_box_head_content {
    position: relative;
    z-index: 2;
    padding: 2rem
}

.pricing_box_head_bg {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0.3
}

.pricing_box_head {
    position: relative
}

.pricing_box_body {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.pricing_box_footer {
    margin-bottom: 1rem;
    padding-top: 0rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.pricing_box_head p {
    text-transform: uppercase;
    font-size: 0.7rem;
}

.pricing_box_head i {
    font-size: 2rem;
}

.pricing_box_head h1, .pricing_box_head h6, .pricing_box_head p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.pricing_box_body, .pricing_box_footer {
    position: relative;
    z-index: 3
}

.pricing_box_body_list li {
    margin-bottom: 1.14rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.71rem;
    opacity: 0.8;
}

.pricing_box_body_list li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

/*--------------------------------------*/
/* 11. Reviews -------------------------*/
/*--------------------------------------*/

.single_review {
    position: relative;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

.single_review img {
    margin-top: 2rem;
    max-width: 5rem;
    height: 5rem;
}

/*--------------------------------------*/
/* 12. Contact -------------------------*/
/*--------------------------------------*/

#message {
    position: relative;
    z-index: 3000;
    display: none;
    margin-top: 0.5rem;
    padding: 1rem;
    width: 100%;
    text-align: left;
}

.alert_title {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.unordered li p {
    margin: 0 !important;
    font-size: 1rem;
    line-height: 1.7rem;
}

.unordered {
    margin: 0;
    padding: 0;
}

#message.warning {
    background: #F44336;
}

#message.success {
    background: #4CAF50;
}

#message.success p {
    margin: 0.57rem 0;
}

/*--------------------------------------*/
/* 13. Footer --------------------------*/
/*--------------------------------------*/

#footer {
    padding-top: 2rem;
    padding-bottom: 0.75rem;
}

#footer p {
    font-size: 0.8rem;
}

#footer i {
    display: inline-block;
    margin-bottom: 0.3rem;
    vertical-align: middle;
}

/*--------------------------------------*/
/* 14. Material Design Lite tweeks -----*/
/*--------------------------------------*/

/* buttons */

.mdl-button {
    padding: 0 1.28rem;
    min-width: 2.57rem;
    height: 2.57rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.57rem;
}

.mdl-button--fab {
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
}

.mdl-button--fab .material-icons {
    width: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    -webkit-transform: translate(-1rem, -1rem);
    -ms-transform: translate(-1rem, -1rem);
    transform: translate(-1rem, -1rem);
}

/* cards */

.mdl-card {
    display: block;
    margin-bottom: 1.5rem;
    width: auto;
    font-size: 1rem;
}

.mdl-card__supporting-text {
    overflow: hidden;
    padding: 1.1rem;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.53rem;
}

.mdl-card__menu {
    top: 1rem;
    right: 1rem;
}

.mdl-card__menu a {
    margin-right: 0 !important;
}

/* inputs */

.mdl-textfield {
    margin: 0;
    padding: 1.43rem 0;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
}

.mdl-textfield .mdl-button {
    bottom: 1.43rem;
}

.mdl-textfield--full-width {
    width: 100%;
}

.mdl-textfield--expandable {
    min-width: 2.28rem;
    min-height: 2.28rem;
    width: auto;
}

.mdl-textfield__input {
    margin: 0;
    padding: 0.3rem 0;
    width: 100%;
    background: 1rem;
    font-size: 1rem;
}

.mdl-textfield__label {
    top: 1.71rem;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1rem;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    top: 0.3rem;
    font-size: 1rem;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__expandable-holder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__expandable-holder .mdl-textfield__label {
    top: -1rem;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    font-size: 1rem;
}

.mdl-textfield__label:after {
    bottom: 1.43rem;
    left: 45%;
    width: 0.71rem;
    height: 2px;
}

.mdl-textfield__error {
    margin-top: 0.3rem;
    font-size: 1rem;
}

.mdl-textfield__expandable-holder {
    margin-left: 2.28rem;
    max-width: 0.1px;
}

.mdl-textfield.is-focused .mdl-textfield__expandable-holder, .mdl-textfield.is-dirty .mdl-textfield__expandable-holder {
    max-width: 100%;
}

.mdl-textfield__expandable-holder .mdl-textfield__label:after {
    bottom: 0;
}

/* custom */

#menu_bar img.logo {
    position: relative;
    top: -20px;
    margin-top: 0;
}

#contact-form button[type="submit"] {
    padding: 0.5em;
    width: 100%;
    height: auto;
    font-size: 14pt;
}

#footer {
    padding-bottom: 3em;
}

#footer a {
    color: white;
}

#video {
    /*background-image: url(../content/video-bg.jpg);*/
    position: relative;
    background-image: url(../content/POS-video-bg.jpg);
}

#video:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    content: '';
    opacity: 0.5;
}

#video .row {
    position: relative;
    z-index: 100;
}

#screenshots .mdl-card__media {
    background-color: #FAFAFA;
}

#screenshots .mdl-card__media {
    margin: auto;
    width: 65%;
}

.menu_bar-hide {
    height: 10rem;
}

#home {
    padding-top: 0;
}

#home nav.navigation_desktop {
    padding-top: 0;
}

#home img.logo {
    margin-top: 0;
    margin-bottom: -100%;
}

#home > .top_bar {
    margin-bottom: 0;
}

#pricing .pricing_box_head_content h6 span.text {
    display: block;
}

#pricing .pricing_box_head_content h6 span.number {
    display: block;
    font-size: 8rem;
}

#pricing .row .pricing_box .pricing_box_body {
    height: 14rem;
}

/* top slider */

#top-slider .owl-item .slide .caption {
    position: relative;
    z-index: 10;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#top-slider .owl-item:before {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 200%;
    background-color: black;
    content: '';
    opacity: 0.35;
}

#top-slider .owl-item .slide .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#top-slider .owl-controls {
    position: absolute;
    bottom: 0;
    z-index: 10;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#top-slider .slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#top-slider .slide .row {
    min-height: 42rem;
}

#top-slider #slide-1 {
    background-image: url(../content/slider/slide-1.jpg);
}

#top-slider #slide-2 {
    background-image: url(../content/slider/slide-2.jpg);
}

#top-slider #slide-3 {
    background-image: url(../content/slider/slide-3.jpg);
}

/* help */

.mdl-card {
    text-align: center;
}

.mdl-card .mdl-card__media {
    background-color: white;
}

.mdl-card .mdl-card__media > img {
    display: block;
    margin: auto;
    padding: 2em;
    padding-bottom: 0;
}

/* nivo */

.nivo-lightbox-overlay {
    background-color: rgba(255, 255, 255, 0.9);
}

body .mdl-card {
    min-height: 0;
}

body .mdl-card:hover .mdl-button__ripple-container {
    /*background-color: rgba(255, 255, 255, 0.7);*/
}

body .mdl-card .mdl-card__media > img {
    padding: 0;
}

/* slider  */

