/*
 * Nivo Lightbox Default Theme v1.0
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading {
    background: url(loading.gif) no-repeat 50% 50%;
}

.nivo-lightbox-theme-default .nivo-lightbox-nav {
    top: 90%;
    margin: 2rem;
    opacity: 0.5;
}

.nivo-lightbox-theme-default .nivo-lightbox-nav:hover {
    opacity: 1;
}

.nivo-lightbox-theme-default .nivo-lightbox-prev {
    padding: 0px;
    content: "Prev";
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: normal;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.72rem;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;

}

.nivo-lightbox-theme-default .nivo-lightbox-next {
    padding: 0px;
    content: "next";
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: normal;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.72rem;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;

}

.nivo-lightbox-theme-default .nivo-lightbox-close {
    padding: 0px;
    content: "CLOSE";
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: normal;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.72rem;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
}

.nivo-lightbox-theme-default .nivo-lightbox-close:hover {
    opacity: 1;
}

.nivo-lightbox-theme-default .nivo-lightbox-title-wrap {
    bottom: -7%;
}

.nivo-lightbox-theme-default .nivo-lightbox-title {
    padding: 7px 15px;
    border-radius: 30px;
    background: #000;
    color: #fff;
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.nivo-lightbox-theme-default .nivo-lightbox-image img {
    background: #fff;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}


